.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
*.md
*.txt
test_*.php
.phpunit.result.cache
docker-compose.yml
Dockerfile
.editorconfig
.gitignore
.gitattributes
phpunit.xml
